<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>RSA ёпта!</title>
</head>

<body>

<a href="/encrypt">Зашифровать</a>
<a href="/decrypt">Расшифровать</a>
<a href="/generate">Сгенерировать ключи</a>

</body>
</html>
